In [1]:
import datetime
from pytz import timezone
print "Last run @%s" % (datetime.datetime.now(timezone('US/Pacific')))

Last run @2015-12-17 21:29:04.917552-08:00

In [2]:
from pyspark.context import SparkContext
print "Running Spark Version %s" % (sc.version)

Running Spark Version 1.6.0

In [3]:
from pyspark.conf import SparkConf
conf = SparkConf()
print conf.toDebugString()

spark.app.name=PySparkShell
spark.files=file:/Users/ksankar/.ivy2/jars/com.databricks_spark-csv_2.10-1.3.0.jar,file:/Users/ksankar/.ivy2/jars/org.apache.commons_commons-csv-1.1.jar,file:/Users/ksankar/.ivy2/jars/com.univocity_univocity-parsers-1.5.1.jar
spark.jars=file:/Users/ksankar/.ivy2/jars/com.databricks_spark-csv_2.10-1.3.0.jar,file:/Users/ksankar/.ivy2/jars/org.apache.commons_commons-csv-1.1.jar,file:/Users/ksankar/.ivy2/jars/com.univocity_univocity-parsers-1.5.1.jar
spark.master=local[*]
spark.submit.deployMode=client
spark.submit.pyFiles=/Users/ksankar/.ivy2/jars/com.databricks_spark-csv_2.10-1.3.0.jar,/Users/ksankar/.ivy2/jars/org.apache.commons_commons-csv-1.1.jar,/Users/ksankar/.ivy2/jars/com.univocity_univocity-parsers-1.5.1.jar

In [4]:
# Read Orders
orders = sqlContext.read.format('com.databricks.spark.csv').options(header='true').load('NW/NW-Orders.csv')

In [5]:
order_details = sqlContext.read.format('com.databricks.spark.csv').options(header='true').load('NW/NW-Order-Details.csv')

In [6]:
products = sqlContext.read.format('com.databricks.spark.csv').options(header='true').load('NW/NW-Products.csv')

In [7]:
orders.count()

830

In [8]:
# Save as parquet format for folks who couldn't make spark-csv work
orders.repartition(1).write.mode("overwrite").format("parquet").save("orders.parquet")
order_details.repartition(1).write.mode("overwrite").format("parquet").save("order_details.parquet")
products.repartition(1).write.mode("overwrite").format("parquet").save("products.parquet")

In [9]:
# Read & Check
df = sqlContext.read.load("orders.parquet")
df.show(5)
df.count()

+-------+----------+----------+---------+----------+
|OrderID|CustomerID|EmpliyeeID|OrderDate|ShipCuntry|
+-------+----------+----------+---------+----------+
|  10248|     VINET|         5|   7/2/96|    France|
|  10249|     TOMSP|         6|   7/3/96|   Germany|
|  10250|     HANAR|         4|   7/6/96|    Brazil|
|  10251|     VICTE|         3|   7/6/96|    France|
|  10252|     SUPRD|         4|   7/7/96|   Belgium|
+-------+----------+----------+---------+----------+
only showing top 5 rows

830

In [10]:
# Read & Check
df = sqlContext.read.load("products.parquet")
df.show(5)
df.count()

+---------+--------------------+---------+------------+------------+------------+------------+
|ProductID|         ProductName|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+--------------------+---------+------------+------------+------------+------------+
|        1|                Chai|       18|          39|           0|          10|           0|
|        2|               Chang|       19|          17|          40|          25|           0|
|        3|       Aniseed Syrup|       10|          13|          70|          25|           0|
|        4|Chef Antons Cajun...|       22|          53|           0|           0|           0|
|        5|Chef Antons Gumbo...|    21.35|           0|           0|           0|           1|
+---------+--------------------+---------+------------+------------+------------+------------+
only showing top 5 rows

77

In [11]:
# Read & Check
df = sqlContext.read.load("order_details.parquet")
df.show(5)
df.count()

+-------+---------+---------+---+--------+
|OrderID|ProductId|UnitPrice|Qty|Discount|
+-------+---------+---------+---+--------+
|  10248|       11|       14| 12|       0|
|  10248|       42|      9.8| 10|       0|
|  10248|       72|     34.8|  5|       0|
|  10249|       14|     18.6|  9|       0|
|  10249|       51|     42.4| 40|       0|
+-------+---------+---------+---+--------+
only showing top 5 rows

2155

In [12]:
order_details.count()

2155

In [13]:
orders.show(10)

+-------+----------+----------+---------+-----------+
|OrderID|CustomerID|EmpliyeeID|OrderDate| ShipCuntry|
+-------+----------+----------+---------+-----------+
|  10248|     VINET|         5|   7/2/96|     France|
|  10249|     TOMSP|         6|   7/3/96|    Germany|
|  10250|     HANAR|         4|   7/6/96|     Brazil|
|  10251|     VICTE|         3|   7/6/96|     France|
|  10252|     SUPRD|         4|   7/7/96|    Belgium|
|  10253|     HANAR|         3|   7/8/96|     Brazil|
|  10254|     CHOPS|         5|   7/9/96|Switzerland|
|  10255|     RICSU|         9|  7/10/96|Switzerland|
|  10256|     WELLI|         3|  7/13/96|     Brazil|
|  10257|     HILAA|         4|  7/14/96|  Venezuela|
+-------+----------+----------+---------+-----------+
only showing top 10 rows

In [14]:
order_details.show(10)

+-------+---------+---------+---+--------+
|OrderID|ProductId|UnitPrice|Qty|Discount|
+-------+---------+---------+---+--------+
|  10248|       11|       14| 12|       0|
|  10248|       42|      9.8| 10|       0|
|  10248|       72|     34.8|  5|       0|
|  10249|       14|     18.6|  9|       0|
|  10249|       51|     42.4| 40|       0|
|  10250|       41|      7.7| 10|       0|
|  10250|       51|     42.4| 35|    0.15|
|  10250|       65|     16.8| 15|    0.15|
|  10251|       22|     16.8|  6|    0.05|
|  10251|       57|     15.6| 15|    0.05|
+-------+---------+---------+---+--------+
only showing top 10 rows

In [15]:
products.count()

77

In [16]:
products.show(1)

+---------+-----------+---------+------------+------------+------------+------------+
|ProductID|ProductName|UnitPrice|UnitsInStock|UnitsOnOrder|ReorderLevel|Discontinued|
+---------+-----------+---------+------------+------------+------------+------------+
|        1|       Chai|       18|          39|           0|          10|           0|
+---------+-----------+---------+------------+------------+------------+------------+
only showing top 1 row

In [17]:
# Questions
# 1. How many orders were placed by each customer? 
# 2. How many orders were placed by each country ?
# 3. How many orders by month/year ?
# 4. Total Sales for each customer by year
# 5. Average order by customer by year
# These are questions based on customer and sales reports
# Similar questions can be asked about products as well

In [18]:
orders.dtypes

[('OrderID', 'string'),
 ('CustomerID', 'string'),
 ('EmpliyeeID', 'string'),
 ('OrderDate', 'string'),
 ('ShipCuntry', 'string')]

In [19]:
# 1. How many orders were placed by each customer? 
orders.groupBy("CustomerID").count().orderBy("count",ascending=False).show(10)

+----------+-----+
|CustomerID|count|
+----------+-----+
|     SAVEA|   31|
|     ERNSH|   30|
|     QUICK|   28|
|     HUNGO|   19|
|     FOLKO|   19|
|     HILAA|   18|
|     BERGS|   18|
|     RATTC|   18|
|     BONAP|   17|
|     LEHMS|   15|
+----------+-----+
only showing top 10 rows

In [20]:
# 2. How many orders were placed by each country ?
orders.groupBy("ShipCuntry").count().orderBy("count",ascending=False).show(10)

+----------+-----+
|ShipCuntry|count|
+----------+-----+
|   Germany|  122|
|       USA|  122|
|    Brazil|   82|
|    France|   77|
|        UK|   56|
| Venezuela|   46|
|   Austria|   40|
|    Sweden|   37|
|    Canada|   30|
|    Mexico|   28|
+----------+-----+
only showing top 10 rows

In [21]:
# For the next set of questions, let us transform the data
# 1. Add OrderTotal column to the Orders DataFrame
# 1.1. Add Line total to order details
# 1.2. Aggregate total by order id
# 1.3. Join order details & orders to add the order total
# 1.4. Check if there are any null columns
# 2. Add a date column
# 3. Add month and year

In [22]:
# 1.1. Add Line total to order details
order_details_1 = order_details.select(order_details['OrderID'],
                                       (order_details['UnitPrice'].cast('float') *
                                       order_details['Qty'].cast('float') *
                                       (1.0 -order_details['Discount'].cast('float'))).alias('OrderPrice'))

In [23]:
order_details_1.show(10)

+-------+------------------+
|OrderID|        OrderPrice|
+-------+------------------+
|  10248|             168.0|
|  10248|              98.0|
|  10248|             174.0|
|  10249|167.40000915527344|
|  10249|            1696.0|
|  10250|              77.0|
|  10250|1261.3999911546707|
|  10250|214.19998552799234|
|  10251| 95.75999557614327|
|  10251| 222.2999998256564|
+-------+------------------+
only showing top 10 rows

In [24]:
# 1.2. Aggregate total by order id
order_tot = order_details_1.groupBy('OrderID').sum('OrderPrice').alias('OrderTotal')

In [25]:
order_tot.orderBy('OrderID').show(5)

+-------+------------------+
|OrderID|   sum(OrderPrice)|
+-------+------------------+
|  10248|             440.0|
|  10249|1863.4000091552734|
|  10250| 1552.599976682663|
|  10251| 654.0599954017997|
|  10252|3597.8999980315566|
+-------+------------------+
only showing top 5 rows

In [26]:
# 1.3. Join order details & orders to add the order total
orders_1 = orders.join(order_tot, orders['OrderID'] == order_tot['OrderID'], 'inner')\
.select(orders['OrderID'],
        orders['CustomerID'],
        orders['OrderDate'],
        orders['ShipCuntry'].alias('ShipCountry'),
        order_tot['sum(OrderPrice)'].alias('Total'))

In [27]:
orders_1.orderBy('CustomerID').show()

+-------+----------+---------+-----------+------------------+
|OrderID|CustomerID|OrderDate|ShipCountry|             Total|
+-------+----------+---------+-----------+------------------+
|  10643|     ALFKI|  8/23/97|    Germany|             814.5|
|  10952|     ALFKI|  3/14/98|    Germany|471.19999665021896|
|  10692|     ALFKI|  10/1/97|    Germany|             878.0|
|  10702|     ALFKI| 10/11/97|    Germany|             330.0|
|  10835|     ALFKI|  1/13/98|    Germany|  845.799999922514|
|  11011|     ALFKI|   4/7/98|    Germany| 933.4999996051192|
|  10759|     ANATR| 11/26/97|     Mexico|             320.0|
|  10308|     ANATR|  9/16/96|     Mexico| 88.79999923706055|
|  10625|     ANATR|   8/6/97|     Mexico|            479.75|
|  10926|     ANATR|   3/2/98|     Mexico| 514.4000015258789|
|  10856|     ANTON|  1/26/98|     Mexico|             660.0|
|  10682|     ANTON|  9/23/97|     Mexico|             375.5|
|  10365|     ANTON| 11/25/96|     Mexico| 403.1999816894531|
|  10677|     ANTON|  9/20/97|     Mexico| 813.3649631685021|
|  10507|     ANTON|  4/13/97|     Mexico| 749.0624947473407|
|  10535|     ANTON|  5/11/97|     Mexico|1940.8499967865646|
|  10573|     ANTON|  6/17/97|     Mexico|            2082.0|
|  10383|     AROUT| 12/14/96|         UK|             899.0|
|  10355|     AROUT| 11/13/96|         UK|             480.0|
|  10768|     AROUT|  12/6/97|         UK|            1477.0|
+-------+----------+---------+-----------+------------------+
only showing top 20 rows

In [28]:
# 1.4. Check if there are any null columns
orders_1.filter(orders_1['Total'].isNull()).show(40)

+-------+----------+---------+-----------+-----+
|OrderID|CustomerID|OrderDate|ShipCountry|Total|
+-------+----------+---------+-----------+-----+
+-------+----------+---------+-----------+-----+

In [29]:
import pyspark.sql.functions as F
from pyspark.sql.types import DateType,IntegerType
from datetime import datetime
convertToDate = F.udf(lambda s: datetime.strptime(s, '%m/%d/%y'), DateType())
#getMonth = F.udf(lambda d:d.month, IntegerType())
#getYear = F.udf(lambda d:d.year, IntegerType())
getM = F.udf(lambda d:d.month, IntegerType()) # To test UDF in 1.5.1. didn't work in 1.5.0
getY = F.udf(lambda d:d.year, IntegerType())

In [30]:
# 2. Add a date column
orders_2 = orders_1.withColumn('Date',convertToDate(orders_1['OrderDate']))

In [31]:
orders_2.show(2)

+-------+----------+---------+-----------+-----------------+----------+
|OrderID|CustomerID|OrderDate|ShipCountry|            Total|      Date|
+-------+----------+---------+-----------+-----------------+----------+
|  10315|     ISLAT|  9/24/96|         UK|516.8000030517578|1996-09-24|
|  10766|     OTTIK|  12/3/97|    Germany|           2310.0|1997-12-03|
+-------+----------+---------+-----------+-----------------+----------+
only showing top 2 rows

In [32]:
# 3. Add month and year
#orders_3 = orders_2.withColumn('Month',getMonth(orders_2['Date'])).withColumn('Year',getYear(orders_2['Date']))
orders_3 = orders_2.withColumn('Month',F.month(orders_2['Date'])).withColumn('Year',F.year(orders_2['Date']))
orders_3 = orders_2.withColumn('Month',getM(orders_2['Date'])).withColumn('Year',getY(orders_2['Date']))

In [33]:
orders_3.show(5)

+-------+----------+---------+-----------+-----------------+----------+-----+----+
|OrderID|CustomerID|OrderDate|ShipCountry|            Total|      Date|Month|Year|
+-------+----------+---------+-----------+-----------------+----------+-----+----+
|  10315|     ISLAT|  9/24/96|         UK|516.8000030517578|1996-09-24|    9|1996|
|  10766|     OTTIK|  12/3/97|    Germany|           2310.0|1997-12-03|   12|1997|
|  10810|     LAUGB| 12/30/97|     Canada|            187.0|1997-12-30|   12|1997|
|  10928|     GALED|   3/3/98|      Spain|            137.5|1998-03-03|    3|1998|
|  11044|     WOLZA|  4/21/98|     Poland|591.5999755859375|1998-04-21|    4|1998|
+-------+----------+---------+-----------+-----------------+----------+-----+----+
only showing top 5 rows

In [34]:
# 3. How many orders by month/year ?
import time
start_time = time.time()
orders_3.groupBy("Year","Month").sum('Total').show()
print "%s Elapsed : %f" % (datetime.today(), time.time() - start_time)
#[7/3/15 8:20 PM 1.4.1] Elapsed : 22.788190 (with UDF)
#[1.5.0] 2015-09-05 10:29:57.377955 Elapsed : 10.542052 (with F.*)
#[1.5.1] 2015-09-24 17:53:13.605858 Elapsed : 11.024428 (with F.*)

+----+-----+------------------+
|Year|Month|        sum(Total)|
+----+-----+------------------+
|1996|    7| 30741.89482613087|
|1996|    8|22726.874927262965|
|1996|    9|27691.400036934017|
|1996|   10|38380.124970179044|
|1996|   11| 45694.44485737152|
|1996|   12| 52494.33016600876|
|1997|    1| 51612.97007056057|
|1997|    2| 38483.63478581548|
|1997|    3|40918.819994803074|
|1997|    4| 57116.71232687771|
|1997|    5|  50270.3297302828|
|1997|    6| 34392.08242916524|
|1997|    7| 52744.67748051029|
|1997|    8|  46991.7848285738|
|1997|    9| 57723.22742255703|
|1997|   10|62253.625932126764|
|1997|   11| 51294.80883336867|
|1997|   12| 67920.22840889254|
|1998|    1| 107049.9603509332|
|1998|    2| 85240.82739185859|
+----+-----+------------------+
only showing top 20 rows

2015-12-17 21:31:20.033784 Elapsed : 17.007098

In [35]:
# 4. Total Sales for each customer by year
import time
start_time = time.time()
orders_3.groupBy("CustomerID","Year").sum('Total').show()
print "%s Elapsed : %f" % (datetime.today(), time.time() - start_time)
#[1.4.1] 2015-07-03 20:29:37.499064 Elapsed : 18.372916 (with UDF)
#[1.5.0] 2015-09-05 10:26:14.689536 Elapsed : 11.468665 (with F.*)
#[1.5.1] 2015-09-24 17:53:23.670811 Elapsed : 10.057430 (with F.*)

+----------+----+------------------+
|CustomerID|Year|        sum(Total)|
+----------+----+------------------+
|     MAISD|1997|            5297.0|
|     MAISD|1998| 4439.074999286532|
|     PERIC|1996| 680.7999877929688|
|     PERIC|1997|2065.3999938964844|
|     PERIC|1998|            1496.0|
|     RICSU|1996|            2490.5|
|     RICSU|1997|11864.423862058282|
|     WANDK|1996|3839.7999651432037|
|     WANDK|1997| 4262.824986690655|
|     RICSU|1998| 4988.854987118468|
|     WANDK|1998|1485.7999988347292|
|     PRINI|1996|1001.8400213575362|
|     PRINI|1997|1409.2000122070312|
|     RATTC|1996|14344.380080768167|
|     PRINI|1998|2633.9000244140625|
|     RATTC|1997|15515.150034349412|
|     RATTC|1998|21238.270496094367|
|     BERGS|1996| 4324.400131225586|
|     BERGS|1997|13849.014957972095|
|     BERGS|1998|  6754.16244180873|
+----------+----+------------------+
only showing top 20 rows

2015-12-17 21:31:36.577753 Elapsed : 16.537816

In [36]:
# 5. Average order by customer by year
import time
start_time = time.time()
orders_3.groupBy("CustomerID","Year").avg('Total').show()
print "%s Elapsed : %.2f" % (datetime.today(), time.time() - start_time)
#[1.4.1] 2015-07-03 20:32:14.734800 Elapsed : 18.88 (with UDF)
#[1.5.0] 2015-09-05 10:26:28.227042 Elapsed : 13.53 (with F.*)
#[1.5.1] 2015-09-24 17:55:25.963050 Elapsed : 10.02 (with F.*)

+----------+----+------------------+
|CustomerID|Year|        avg(Total)|
+----------+----+------------------+
|     MAISD|1997|1765.6666666666667|
|     MAISD|1998| 1109.768749821633|
|     PERIC|1996| 340.3999938964844|
|     PERIC|1997|1032.6999969482422|
|     PERIC|1998|             748.0|
|     RICSU|1996|            2490.5|
|     RICSU|1997|2372.8847724116563|
|     WANDK|1996| 959.9499912858009|
|     WANDK|1997| 852.5649973381311|
|     RICSU|1998| 1247.213746779617|
|     WANDK|1998|1485.7999988347292|
|     PRINI|1996| 500.9200106787681|
|     PRINI|1997| 704.6000061035156|
|     RATTC|1996|2049.1971543954523|
|     PRINI|1998|2633.9000244140625|
|     RATTC|1997|3103.0300068698825|
|     RATTC|1998| 3539.711749349061|
|     BERGS|1996|1441.4667104085286|
|     BERGS|1997|1384.9014957972095|
|     BERGS|1998| 1350.832488361746|
+----------+----+------------------+
only showing top 20 rows

2015-12-17 21:32:34.356596 Elapsed : 13.67

In [37]:
# 6. Average order by customer
import time
start_time = time.time()
orders_3.groupBy("CustomerID").avg('Total').orderBy('avg(Total)',ascending=False).show()
print "%s Elapsed : %.2f" % (datetime.today(), time.time() - start_time)
#[1.4.1] 2015-07-03 20:33:21.634902 Elapsed : 20.15 (with UDF)
#[1.5.0] 2015-09-05 10:26:40.064432 Elapsed : 11.83 (with F.*)
#[1.5.1] 2015-09-24 17:55:49.818042 Elapsed : 9.43 (with F.*)

+----------+------------------+
|CustomerID|        avg(Total)|
+----------+------------------+
|     QUICK|3938.4751726235745|
|     ERNSH| 3495.832606963627|
|     SAVEA| 3366.514505365375|
|     RATTC|2838.7667006228858|
|     HUNGO| 2630.521326734353|
|     SIMOB| 2402.442494857705|
|     HANAR|  2345.81213784039|
|     FOLIG|2333.3800003051756|
|     PICCO| 2312.885991293058|
|     MEREP|2220.9377055785862|
|     KOENE|2207.7417048407174|
|     SUPRD| 2007.398340564072|
|     QUEEN|1978.2690324880728|
|     WHITC|1954.5432158601923|
|     RICSU| 1934.377884917675|
|     EASTC|1845.1293716430664|
|     SEVES| 1801.702761604513|
|     FRANK|1777.1039616996916|
|     BLONP|1684.9163589199563|
|     GREAL|1682.4954538964614|
+----------+------------------+
only showing top 20 rows

2015-12-17 21:32:58.152189 Elapsed : 13.58